.container1{
	padding: 0 0rem;
	padding-top: 0.50rem;
	padding-bottom: 0.20rem;
}
.container1 .content{
    /* display: flex; */
    padding: 0.20rem 0.20rem;
}
.container1 .content .left{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container1 .content .left .item{
    width: 100%; 
}
.container1 .content .left .item .title{
    display: block;
    width: 100%;
    /* background-color: #DD9933; */
    color: #dd9933;
    height: 0.49rem;
    font-family:微软雅黑, Helvetica, Arial, Verdana, sans-serif;
    font-size:0.14rem;
    font-style:normal;
    font-weight:400;
    text-align: left;
    line-height: 0.49rem;
    padding-left: 0.10rem;
}
.container1 .content .left .item .title:hover{
    background-color: #DD9933;
    color: white;
}
.container1 .content .left .item:first-child .titleActive{
    background-color: #DD9933;
    color: white;
}
.border{
    /* border-top: 1rem solid #dd9933; */
    border-bottom: 0.01rem solid #dd9933;
}
.container1 .content .left .item .title span{
    padding-left: 0;
}
.container1 .content .left .item .list{
    display: flex;
    flex-direction: column;
    font-size:0.12rem;
    font-style:normal;
    font-weight:400;
}
.container1 .content .left .item .list .items{
    display: block;
    width: 100%;
    /* background-color: pink; */
    color: #dd9933;
    height: 0.40rem;
    line-height: 0.49rem;
    padding-left: 0.30rem;
}
.container1 .content .left .item .list .items:hover{
    background-color: #DD9933;
    color: white;
}


.container1 .content .right{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 0.10rem; 
}
.container1 .content .right .top{
    display: flex;
    flex-direction: column;
}
.container1 .content .right .top .lLeft{
    width: 1.64rem;
    height: 1.64rem;
    border: 0.01rem solid rgb(0, 0, 0,0.1);
}
.container1 .content .right .top .lLeft img{
    width: 1.48rem;
    height: 1.48rem;
    margin: 0.08rem;
    transition-property: width , height,margin; 
    transition-duration:1s , 1s,1s;
}
.container1 .content .right .item:hover img{
    width: 1.64rem;
    height: 1.64rem;
    margin: 0;
}
.container1 .content .right .item:hover .top .lLeft{
    border: 0.01rem solid transparent;
}
.container1 .content .right .top .lRight{
    flex: 1;
    padding-left: 0.15rem;    
    height: 1.68rem;
    font-family:微软雅黑;
}
.container1 .content .right .top .lRight p:first-child{
    
    font-size:0.16rem;
    font-weight:700;
    color: #373A41;
    line-height: 1.5;
}
.container1 .content .right .top .lRight p:last-child{
    padding-top: 0.10rem;
    font-weight: 400;
    color: #686868;
    font-size: 0.12rem;
    line-height: 0.12rem;  
}

.container1 .content .right .container1_bottom{
    text-align: right;
    font-family:微软雅黑;
    font-size:0.16rem;
    font-style:normal;
    font-weight:400;
    color: #dd9933;
    padding-top: 0.10rem;
}
.hr{
    margin: 0.17rem 0;
    border-top: 0.01rem solid rgb(229, 229, 229);
}
